body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

#background {
	background-image: url("images/western_us_map.jpg");
	width: 100vw;
	overflow: hidden;
}

#background-new {
	background-image: url("new-images/old_sorrel_small.png");
	width: 100vw;
	overflow: hidden;
}

#homepage {
	position: absolute;
	top: 0;
	left 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#homepage-new {
	position: absolute;
	top: 0;
	left 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#content-page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

#homepage-thumbnails-container {
	width: 1000px;
	height: 350px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.image-content {
	max-width: calc(100% - 1em);
	/*margin-left: .5em;*/
	/*margin-top: .5em;*/
	margin-top: .5em;
}


.text-content {
	width: calc(100% - 1em - 10px);
	background-color: #ece1c1;
	opacity: 0.9;
	border-radius: .2em;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: serif;
	align-self: start;
	margin-left: .5em;
	margin-top: .5em;
}

#timeline {
	position: absolute;
	display: flex;
	flex-direction: column;
	margin-top: .5em;
	margin-left: .5em;
}

.left-textbox {
	background-color: #ece1c1;
	opacity: 0.9;
	border-radius: .2em;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: serif;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: .5em;
	width: fit-content;
}

.link_text {
	text-decoration: underline;
}

.thumbnail-label {
	text-decoration: underline;
	background-color: #ece1c1;
	opacity: 0.9;
	border-radius: .2em;
	position: absolute;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: end;
	justify-self: center;
	overflow: hidden;
	white-space: nowrap;
}

.larue-thumbnail-label {
	background-color: #ece1c1;
	opacity: 0.9;
	border-radius: .2em;
	position: absolute;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: end;
	justify-self: center;
	overflow: hidden;
	white-space: nowrap;
}

#larue-thumbnail-container {
	position: absolute;
	display: grid;
	flex-direction: column;
	justify-content: center;
}

#larue-thumbnail-container-new {
	position: absolute;
	display: grid;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}

#kimball-thumbnail-container {
	position: absolute;
	display: grid;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}

#sinclair-thumbnail-container {
	position: absolute;
	display: grid;
	flex-direction: column;
	justify-content: center;
}

#julia-thumbnail-container {
	position: absolute;
	display: grid;
	flex-direction: column;
	justify-content: center;
}

#montpelier-thumbnail-container {
	position: absolute;
	display: grid;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}

#mudlake-thumbnail-container {
	position: absolute;
	display: grid;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}

#saltlake-thumbnail-container {
	position: absolute;
	display: grid;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}

#cedarcity-thumbnail-container {
	position: absolute;
	display: grid;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}

#image-caption-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.image-caption {
	background-color: #ece1c1;
	opacity: 0.9;
	border-radius: .2em;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: serif;
	align-self: center;
}

.forward-arrow-container {
	width: calc(100% - 1em);
	display: flex;
	flex-direction: row;
	justify-content: end;
	padding-right: 1em;
}

.forward-arrow {
	/*width: 50px;
	height: 50px;*/
}

#homepage-arrow {
	position: absolute
}
