body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#background {
	background-image: url('images/western_us_map.jpg');
	width: 100vw;
	height: 100vh;
}

#homepage {
	position: absolute;
	top: 0;
	left 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#larue-thumbnail {
	position: absolute;
}

#montpelier-thumbnail {
	position: absolute;
}
