body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#background {
	background-image: url('images/western_us_map.jpg');
	width: 100vw;
	height: 100vh;
}

#homepage {
	position: absolute;
	top: 0;
	left 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#larue-thumbnail {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
}

#montpelier-thumbnail {
	position: absolute;
}
.thumbnail-label {
	background-color: #ece1c1;
	opacity: 0.8;
	border-radius: .2em;
	position: absolute;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#larueLabelElement {
}

#mudlake-thumbnail {
	position: absolute;
}

#saltlake-thumbnail {
	position: absolute;
}

#cedarcity-thumbnail {
	position: absolute;
}
